html,
body,
* {
  font-size: 10px;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4fbf8;
}
.banner {
  padding: 2rem;
  background-color: #5f5449;
}
.sectionlabel {
  padding: 1rem;
  text-decoration: none;
  text-align: right;
}
.sectionlabel::visited {
  text-decoration: none;
}

.title {
  text-align: center;
  margin: auto;
  background-color: transparent;
}
.bannerimg {
  width: 100vw;
  height: 75rem;
  object-fit: cover;
  opacity: 50%;
  position: relative;
}
