html,
body,
* {
  font-size: 10px;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4fbf8;
}
.banner {
  padding: 2rem;
  background-color: #5f5449;
  position: fixed;
  width: 100vw;
  z-index: 50;
}
.sectionlabel {
  margin: 1rem;
  text-decoration: none;
  color: #f4fbf8;
  font-size: 1rem;
}
.sectionlabel::visited {
  text-decoration: none;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  font-size: 10rem;
  z-index: 20;
  color: #554135;
}
.bannerimg {
  height: 100vh;
  width: 100vw;
  object-fit: contain;
  opacity: 50%;
}
