html,
body,
* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Red Rose", cursive;
}
body {
  background-color: #f4fbf8;
}
.banner {
  height: 6rem;
  background-color: #5f5449;
  position: fixed;
  width: 100vw;
  z-index: 50;
}
.sectionlabel {
  color: #f4fbf8;
  font-size: 2rem;
  text-align: right;
  margin: 1rem;
}
.sectionlabel::visited {
  text-decoration: none;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  font-size: 10rem;
  z-index: 20;
  color: #5f5449;
  font-family: "Open Sans", sans-serif;
}
.bannerimg {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  opacity: 50%;
}
.subtitle{
  padding: 1rem;
  text-align: center;
  font-size: 5rem;
  font-family: "Red Rose";

}